/*CSS styling for the hazardous waste website*/

/*********Navbar Syling*********/

.navbar-default .navbar-toggle:hover {
  background-color: #333;
}

.navbar-default .navbar-brand {
  color: #f0ee14;
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Blackout', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #f0ee14;
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Blackout', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;
}

.navbar-collapse {
  background-color: #333;
}

.navbar-header {
  background-color: #333;

  font-family: 'Doppio One', sans-serif;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: yellow;
}

.navbar-default .navbar-nav .open .dropdown-menu:hover > li >a:hover {
  color: white;
}

#active a {
color: white;
background-color: #b3a580;
}


.glyphicon {
  color: #f0ee14;
}

.glyphicon:hover {
  color: white;
}

#hamburger {
  color: #f0ee14;
}

#hamburger:hover {
  color: white;
}

#hamburger:active {
  background-color: red;
}

.navbar-default .navbar-toggle:focus {
  background-color: red;
}
/*********Jumbotron (Heading Band Below Navbar) Styling*********/

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron p {
  font-size: 30px;
}

.jumbotron {
  /*font-family: 'IM Fell Great Primer', serif;*/
  color: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-top: 8px;

  background-image: url("/img/banner.png");
  background-image: url("../img/banner.png");
  /*background-image: url(../img/img2.png);*/
  /*background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;*/
 }

/*********HTML Element Styling*********/

html {
  position: relative;
  min-height: 100%;
}
body {
  /*background-color: #E8E4CC;
  This is a much better background color! Need to replace thumbnail images with ones that have this background color. */
  /*background-color: #f4f0cb;*/
  background-color: #333;
  font-family: 'Verdana';
  margin-bottom: 5%;
  color: white;

}
#mapSVG{
  border: 1px solid white;
}
#button-container{
  height: 5%;
}
.legendTitle{
	color: white;
}
@font-face {
    font-family: 'CarbonType';
    src:url('../fonts/carbontype-webfont.woff') format('woff')/*,
        url('../fonts/Capture-it.ttf.svg#Capture-it') format('svg'),
        url('../fonts/Capture-it.ttf.eot'),
        url('../fonts/Capture-it.ttf.eot?#iefix') format('embedded-opentype');*/
}

h1 {
	font-family: 'CarbonType';
	letter-spacing: −50px; 
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
  margin-right: 10px;
  text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
  hyphens: auto;
}

a{
	color: yellow;
}
a:hover{
	text-decoration: none;
	color: white;
}

#imgText {
  font-size: 16px;
  text-align: center;
}

#textColumn {
  padding-left: 12px;
}

/*********Button Styling...not perfect...*********/
.btn {
  color: black;
  background-color: #f0ee14;
  border-color: white;
}

.btn:hover {
  color: white;
  background-color: #F23A19;
  border-color: white;
}

.btn.focus {
  color:  white;
  background-color: #F23A19;
  border-color: white;
}

.btn.active {
  color: white;
  background-color: #F23A19;
  border-color: white;
}

.btn.active:hover {
  color:  white;
  background-color: #F23A19;
}

.btn.active:focus {
  color:  white;
  background-color: #F23A19;
}

.btn-primary.hover {
  background-color: white;
}

.btn-primary:active:hover {
  background-color: #F23A19;
  border-color: #F23A19;
}

/*********Image/Thumbnail Styling*********/

.portfolio-thumbnail {
  /*background-color: #de8d47;*/
  border-width: 1px;
  border-style: solid;
  border-right-style: solid;
  border-color: black;
  overflow: hidden;
}

.col-md-3 {
    float: center;
/**position: relative; **/
    margin: 0 auto;
    overflow: hidden;
    border-color: black;
    border-width: 2px;
  	font-family: 'Calibri';
}
/*
.col-md-4 {
    float: center;
    margin: 0 auto;
    overflow: visible;
    border-color: black;
    border-width: 2px;
  	font-family: 'Roboto';
}*/

.portfolio-thumbnail img {
  -webkit-transition: 0.25s ease-in all;
  transition: 0.25s ease-in all;
}

.col-md-3:hover .portfolio-thumbnail img {
/*  uncomment if you want the images to move on hover
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.10);*/
}

.col-md-3:hover .portfolio-thumbnail h1 {
  display: block
}

.col-md-12 {
  text-align: center;
}

#clean-harbors-shipments-image {
  display: center;
}

/********Cross-Page Styling for SVG/Map Elements*********/

.CAN, .MEX, .USA {
  fill: #A5A7AA;
  stroke:#f6f6f6;
  stroke-width: .25px;
}

.borders {
  fill: none;
  stroke: #f6f6f6;
  stroke-width: 1px
}

.epa {
  stroke: none;
  stroke-width: 2px;
  fill: none;
}

.d3-tip {
  font-size: 12px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 5px;
}

.legendText{
  font-size: 10px;
  fill: white;
}
.legendTitle{
  font-size: 14px;
  fill: white;
}
#legSVG circle{
	stroke: white;
}
.circleOnMap:hover{
  cursor: pointer;
}
.svg-container {
    display: inline-block;
    position: relative;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.phaser{
  text-decoration: underline;
  color: #4D4D4F;
}
.phaser:hover{
  text-decoration: none;
  cursor: pointer;
}

.legendRectangles:hover{
	cursor:pointer;
	border: 5px solid yellow;
}
.legendRectangles{
	
}
/*********Dropdown Styling*********/

/*uncomment out hover and block if you want dropdown to open on hover
*//*.dropdown:hover*/ .dropdown-menu {
 /* display: block;*/
  background-color: #f0ee14;
  background-image: none;
}

.dropdown-menu > li > a {
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Blackout', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: black;
}

.dropdown-menu > li > a:hover {
  background-color: 	#F23A19;
  color: white;
  background-image: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: 	#F23A19;
  background-image: none;
  color: #f0ee14;
}


/*********Styling Image Hover Section*********/

#image .imgDescription-col4 {
  font-family: 'Doppio One', sans-serif;
  font-size: 18px;
  background-color: #333;
  text-align: center;
}

/**********Style Footer**********/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5%;
  background-color: #333;
  border-top: 1px solid white;
}

.logos {
  padding-top: 3px;
}

/*styling p effects image hover text-watch!
.dropdown open>a {
  background-color: red !important;
}*/

/********Definitions on Hover********/
.definition {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #f0ee14;;
    color: #f0ee14;
}

.definition .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10000;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    font-size: 10pt;
}

.definition .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.definition:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
