.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
#mapSVG{
  border: 1px solid white;
}
.panel-title>a:hover {
  color: #333;
}
.greyedOut{
  background-color: #333;
  opacity: .6;
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  position:absolute;
}
.intro{
  font-size: 12px;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: white;
}
.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:30%;
  padding: 5px;
}
.introBox a {
    color:#f0ee14;
   font-size: 12px;
}

.introButton{
  width:100%;
  height:10%;
  text-shadow:none;
  border: none;
  box-shadow:none;
  font-size: 14px;
  color: #4D4D4F;
}
.introButton:hover{
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #333;
  color: white;
  border-top: 1px solid white;
}

.raceLabel, .povLabel, .percentLabel, .legendText, label, .yaxis, .axis text, .label, .viewerCategory, .viewerData{
  font-size: 10px;
  fill: white;
}
.majorLabel{
  font-size: 12px;
  color:white;
  font-weight: bold;
}
.main{
  margin-top: 60px;
}
.zoomBox{
  position: absolute;
  top: 15px;
  left: 5px;
  width:1%;
}
#viewShowHide{
  position: absolute;
  /*originally 20px*/
  top: 0px;
  right: 5px;
}
#x{
  position: absolute;
  top:0px;
  right:-10px;
  fill: white;
}
#iceRect{
  stroke: none;
}
.fakeWell{ /* stlyes the legend container and the zoom in/out reset container*/
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
.well{
	background-color: #333;
}
/*Play with some styling options*/

.nav-pills>li>a{
	color: black;
  background-color: #f0ee14;
	border: 1px solid white;
	padding:1px;
}

.nav-pills>li.active>a, .nav-pills>li>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: white;
  background-color: #de2d26;
  border: 1px solid white;
}
.nav-pills>li.disabled{
	background-color:none;
}
.CAN, .MEX, .USA{
  fill: #A5A7AA;
  stroke:#f6f6f6;
  stroke-width: .25px;
}
.CAN:active, .MEX:active, .USA:active{
  cursor:move;
}
.borders{
  fill: none;
  stroke: #f6f6f6;
  stroke-width: 1px
}
.epa {
  stroke: none;
  stroke-width: 1px;
  fill: none;
}
.resetter, .zoomIn, .zoomOut, #importer, #exporter, #x{
  cursor:pointer;
}
.viewerText{
  margin-left: 2px;
}
.manTab, .demoTab, .storyTab, .ECHOTab{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  background-color: #333
}
.tabLabel{
 color:black;
 font-size: 10px
}
.importCharts{
  overflow-y: auto;
}
.ice{
  height: 100%;
  width: 50%;
}
.panel-default>.panel-heading{
	background: #f0ee14;
	color:black;
	border:none;
}
.d3-tip, #infotip {
  font-size: 12px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  background: #333;
  border-color: #f0ee14;
  border-radius: 5px;
  max-width: 200px;
  overflow-wrap: break-word;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
#chem { /* this is for the search box*/
    border-radius: 0px;
    height: 0 0 30px;
    font-size: 10px;
}


a {
  color: white;
  font-size: 12px;
}

#foot{
  font-size: 14px;
  color: #f0ee14;
}

#foot:hover {
  color: white;
}

.help>a{
  font-size: 12px;
}
input{
	color:black;
}

/*CSS styling for the hazardous waste website*/
/*Color scheme from http://power20method.com/minimalist/*/

/*********Navbar Syling*********/
.navbar-right {
  padding-right: 10px;
}
.navbar-default .navbar-toggle:hover {
  background-color: #333;
}

.navbar-default .navbar-brand {
  color: #f0ee14;
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Blackout', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #f0ee14;
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Blackout', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;
}

.navbar-collapse {
  background-color: #333;
}
.navbar-header {
  background-color: #333;
  font-family: 'Doppio One', sans-serif;
}

.navbar-toggle {
  background-color: #333;
}

.glyphicon {
  color: #f0ee14;
}

.glyphicon:hover {
  color: white;
}

.navbar-nav .open .dropdown-menu {
  background-color: #f0ee14;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #de2d26;
  color: white;
}

#hamburger {
  color: #f0ee14;
}

#hamburger:hover {
  color: white;
}

/*#hamburger:active {
  background-color: #de2d26;
}*/

.navbar-default .navbar-toggle:focus {
  background-color: #de2d26;
}

/*styling p effects image hover text-watch!*/
.dropdown open>a {
  background-color: red !important;
}

/*********Dropdown Styling*********/

/*uncomment out hover and block if you want dropdown to open on hover
*//*.dropdown:hover*/
.dropdown-menu {
 /* display: block;*/
  background-color: #f0ee14;
  background-image: none;
}

/*.navbar-default .navbar-nav > li > a {
  padding-right: 20%;
}*/

.navbar-right {
  padding-right: 10px;
}

#nav1 {
  padding-right: 20px;
}

.dropdown-menu > li > a {
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Blackout', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: black;
}

.dropdown-menu > li > a:hover {
  background-color: #de2d26;
  color: white;
  background-image: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color:   #de2d26;
  background-image: none;
  color: white;
}

/**********Style Footer**********/
footer {
  color: white;
  background-color: #685544;
  height: 30px;
}



/*html {
  position: relative;
  min-height: 100%;
}*/

body {
  /* Margin bottom by footer height */
  
}
