.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.greyedOut{
  background-color: #333;
  opacity: .6;
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  position:absolute;
}
.intro{
  font-size: 12px;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: white;
}
.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:30%;
  padding: 5px;
}
.introBox a {
    color:#f0ee14;
   font-size: 12px;
}

.introButton{
  width:100%;
  height:10%;
  text-shadow:none;
  border: none;
  box-shadow:none;
  font-size: 14px;
  color: #4D4D4F;
}
.introButton:hover{
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #333;
  color: white;
}

.raceLabel, .povLabel, .percentLabel, .legendText, label, .yaxis, .axis text, .label, .viewerCategory, .viewerData{
  font-size: 10px;
  fill: #685544;
}
.majorLabel{
  font-size: 12px;
  font-weight: bold;
}
.main{
  margin-top: 60px;
}
.zoomBox{
  position: absolute;
  top: 15px;
  left: 5px;
  width:1%;
}
#viewShowHide{
  position: absolute;
  /*originally 20px*/
  top: 0px;
  right: 5px;
}
#x{
  position: absolute;
  top:0px;
  right:-10px;
  fill: #7C7B7D;
}
#iceRect{
  stroke: none;
}
.fakeWell{ /* stlyes the legend container and the zoom in/out reset container*/
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
/*Play with some styling options*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #333;
  color: white;
}
.CAN, .MEX, .USA{
  fill: #A5A7AA;
  stroke:#f6f6f6;
  stroke-width: .25px;
}
.CAN:active, .MEX:active, .USA:active{
  cursor:move;
}
.borders{
  fill: none;
  stroke: #f6f6f6;
  stroke-width: 1px
}
.epa {
  stroke: none;
  stroke-width: 1px;
  fill: none;
}
.resetter, .zoomIn, .zoomOut, #importer, #exporter, #x{
  cursor:pointer;
}
.viewerText{
  margin-left: 2px;
}
.manTab, .demoTab, .storyTab, .ECHOTab{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
}
.importCharts{
  overflow-y: auto;
}
.ice{
  height: 100%;
  width: 50%;
}
.d3-tip, #infotip {
  font-size: 10px;
  line-height: 1.5;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}
div{
 padding-right: -1px;
 padding-left: -1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
#chem { /* this is for the search box*/
    border-radius: 0px;
    border: 1px solid black;
    height: 0 0 30px;
    font-size: 10px;
}

.title{
  margin: 0px;
}






/*CSS styling for the whole website*/
/*Color scheme from http://power20method.com/minimalist/*/

.portfolio-thumbnail {
  background-color: #ded2a0;
  border-width: 2px;
  border-style: solid;
  border-right-style: solid;
  border-color: #685544;
  overflow: hidden;
}
.jumbotron h1 {
  font-size: 30px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #685544;

}
.navbar-default .navbar-brand {
  color: #b3a580;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #f0ee14;
  font-family: 'Doppio One', sans-serif;
  /*font-family: 'Roboto Slab', serif;*/
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;

}

.navbar-collapse {
  background-color: #333;

}


.jumbotron {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: #685544;
  background: #b8c68b;
  text-align: center;
  margin-bottom: 5px;
 }


h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

.col-md-3 {
    float: center;
/**position: relative; **/
    margin: 0 auto;
    overflow: hidden;
    border-color: #685544;
    border-width: 2px;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Doppio One', sans-serif;

}

.navbar-right {
  padding-right: 10px;
}

.portfolio-thumbnail img {
  -webkit-transition: 0.25s ease-in all;
  transition: 0.25s ease-in all;
}

.col-md-3:hover .portfolio-thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.10);

}

.col-md-3:hover .portfolio-thumbnail h1 {
display: block

}

.col-md-6 {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 16px;
}

.col-md-5 {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 16px;

}

.navbar-header {
  background-color: #333;
}


a {
  color: black ;
  font-size: 10px;
}

#foot{
  font-size: 14px;
  color: #f0ee14;
}

#foot:hover {
  color: white;
}
li>a:hover {
  color: black;
}
.help>a{
  font-size: 12px;
}


/*CSS styling for the hazardous waste website*/
/*Color scheme from http://power20method.com/minimalist/*/

/*********Navbar Syling*********/

.navbar-default .navbar-toggle:hover {
  background-color: #685544;
}

.navbar-default .navbar-brand {
  color: #f0ee14;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #f0ee14;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 20px;
}


.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;
}

.navbar-collapse {
  background-color: #333;
}

.navbar-right {
  padding-right: 10px;
}

.navbar-header {
  background-color: #333;
}

#nav1 {
  padding-right: 20px;
}

#active a {
color: white;
background-color: #b3a580;
}

a:hover {
  color: black;
}

#aboutLink a:hover{
  color: #b3a580;
}

.glyphicon {
  color: #b3a580;
}

.glyphicon:hover {
  color: white;
}

#hamburger {
  color: #b3a580;
}

#hamburger:hover {
  color: white;
}


/*********Jumbotron (Heading Band Below Navbar) Styling*********/

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron p {
  font-size: 30px;
}

.jumbotron {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: #685544;
  background-color: #b8c68b;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-top: 8px;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  /*background-image: url(../img/img2.png);*/
  /*background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;*/
 }

/*********HTML Element Styling*********/

body {
  background-color: white;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
}

h4 {
  font-size: 20px;
}

#project {
  font-size: 20px;
  text-align: justify;
}

h5 {
  font-size: 16px;
  text-align: justify;
}

#imgText {
  font-size: 16px;
  text-align: center;
}

p, h3 {
  padding-left: 15px;
}


/*********Image/Thumbnail Styling*********/

.portfolio-thumbnail {
  background-color: #ded2a0;
  border-width: 2px;
  border-style: solid;
  border-right-style: solid;
  border-color: #685544;
  overflow: hidden;
}

.col-md-3 {
    float: center;
/**position: relative; **/
    margin: 0 auto;
    overflow: hidden;
    border-color: #685544;
    border-width: 2px;
  	/*font-family: 'Roboto Slab', serif;*/
    font-family: 'Doppio One', sans-serif;
}

.portfolio-thumbnail img {
  -webkit-transition: 0.25s ease-in all;
  transition: 0.25s ease-in all;
}

.col-md-3:hover .portfolio-thumbnail img {
/*  uncomment if you want the images to move on hover
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.10);*/
}

.col-md-3:hover .portfolio-thumbnail h1 {
  display: block
}

.col-md-6 {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 16px;
}

.col-md-5 {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 16px;
}


#clean-harbors-shipments-image {
  display: center;
}


/*********Dropdown Styling*********/

/*uncomment out hover and block if you want dropdown to open on hover
*//*.dropdown:hover*/ .dropdown-menu {
 /* display: block;*/
  background-color: #f4f0cb;
  background-image: none;
}

.dropdown-menu > li > a {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  color: black;
  font-size: 14px;
}

.navbar-text {
  font-family: 'Doppio One', sans-serif;
}

#foot {
  font-family: 'Doppio One', sans-serif;
}

.pull-right {
  font-family: 'Doppio One', sans-serif;
}

.introTitle {
  font-family: 'Doppio One', sans-serif;
}

.introButton {
  font-family: 'Doppio One', sans-serif;
}

.container {
  font-family: 'Doppio One', sans-serif;
}

a:hover {
  color: white;
}

.dropdown-menu > li > a:hover {
  background-color: #ded2a0;
  background-image: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #de2d26;
  background-image: none;
  color: white;
}

/*********Styling Image Hover Section*********/

.imgDescription {
  position: absolute;
  top: 40;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #685544;
  color: white;
  visibility: hidden;
  text-align: center;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  opacity: 0.9;
}

#image:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  position: absolute;
/*  For full image hover
*/ /* top: 0px;
  bottom: 9px;
  left: 15px;
  right: 15px;*/
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Doppio One', sans-serif;
  font-size: 18px;
  -webkit-filter: none;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.3s ease-in-out;

  top: 100px;
  bottom: 0px;
  left: 15px;
  right: 15px;
  height: 27px;
}

/**********Style Google Form**********/
/*iframe {
  position: relative;
  bottom: 20px;
  height: 935px;
  float: right;
  padding: 4px;
}*/

/**********Style Visuals.html and Stories.html and Page Links**********/
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: black;
  background-color: #f0ee14;
  }
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: white;
  background-image: none;
  }
}

.navbar-nav .open .dropdown-menu {
  background-color: #f0ee14;
  color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #de2d26;
  color: white;
}

.stories li > a {
  color: #685544;
}

.stories li > a:hover {
  color: #b3a580;
}

.visuals li > a {
  color: #685544;
}

.visuals li > a:hover {
  color: #b3a580;
}

.dc li > a:hover {
  color: #b3a580;
}

#bodyText h5 > a:hover {
  color: #b3a580;
}

#bodyText h4 > a:hover {
  color: #b3a580;
}

#bodyText p > a:hover {
  color: #b3a580;
}

#bodyText p {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Doppio One', sans-serif;
}

/**********Style AboutUs.html**********/
.aboutUs {
  float: left;
  padding-left: 15px;
  color: #685544;
}

.text {
  text-align: justify;
}

/**********Style Footer**********/
footer {
  color: white;
  background-color: #685544;
  height: 30px;
}

/*styling p effects image hover text-watch!*/
.dropdown open>a {
  background-color: red !important;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
